#minute, #heure, #seconde {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  #horloge {
    border-radius: 50%;
    background: #fff url(./images/ios_clock.svg) no-repeat center;
    background-size: 88%;
    height: 20em;
    padding-bottom: 31%;
    position: relative;
    width: 20em;

  }
  

  #heure {
    background: #000;
    height: 30%;
    left: 48.75%;
    position: absolute;
    top: 20%;
    transform-origin: 50% 100%;
    width: 2.5%;
    transform:rotate(70deg);
  }

  #minute {
    background: #000;
    height: 40%;
    left: 49%;
    position: absolute;
    top: 10%;
    transform-origin: 50% 100%;
    width: 2%;
    transform:rotate(60deg) ;
  }

  #seconde {
    background: #000;
    height: 45%;
    left: 49.5%;
    position: absolute;
    top: 5%;
    transform-origin: 50% 100%;
    width: 1%;
    z-index: 8;
    transform:rotate(110deg) ;
  }


  @keyframes rotate {
    100% {
      transform: rotateZ(360deg);
    }
  }
  #heure {
    animation: rotate 43200s infinite linear;
  }
  #minute{
    animation: rotate 3600s infinite linear;
  }
  #seconde{
    animation: rotate 60s infinite linear;
  }